
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #ccc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url('pexels-tima-miroshnichenko-6388378.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 40px;
    width: 100%;
    max-width: 350px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    border-radius: 10px;
}

.logo {
    font-family: 'Billabong', cursive;
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}

button[type="submit"], .fb-login {
    width: 100%;
    padding: 10px;
    background-color: rgba(56, 151, 240, 0.8);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
}

button[type="submit"]:hover, .fb-login:hover {
    background-color: rgba(56, 151, 240, 0.8);
}

.separator {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #ddd;
}

.or {
    margin: 0 10px;
    color: #999;
    font-weight: bold;
}

.fb-login {
    width: 100%;
    padding: 10px;
    background-color: #4267B2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
}

.fb-login:hover {
    background-color: #365899;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.signup-link a {
    color: #fff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
